* {
    margin: 0px;
    padding: 0px;
}
.my-form {
    padding:20px;
    font-size: 120%;
    background-color: grey; 
    color:white;
    border-style: double;
  }
  
  .my-form .form-group {
    padding-bottom:15px;
  }
  
  .my-form label{
    display:block;
  }
  
  .my-form input [type="text"], .my-form textarea{
    padding:5px;
    width:20%;
  }
  
  .my-form input[type="submit"] {
    background-color: black;
    color: white; /* color goes to text */
    padding:10px 15px;
    font-size: 16px;
    border:none;
  }
  